:root {
    /*Colors*/
    /* Primary */
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);
    /* Secondary */
    --white: hsl(0, 0%, 100%);
    --dark-desaturated_blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-darker-blue: hsl(234, 17%, 12%);
    /* Typography */
    /* Font size */
    --font-size-body: 14px;
    /* Family Font */
    --font-family: 'Red Hat Text', sans-serif;
    /* Weight */
    --font-weight: 700;
    /* Border Timer*/
    --border-card-radius: 10px;
}


/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
body,
footer {
    padding: 0;
    margin: 0;
}


/*  ---------  */

body {
    background: var(--very-darker-blue);
    color: var(--white);
    font-family: var(--font-family);
    min-height: 100vh;
    min-width: 100vw;
}

.background-stars {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}


/* CountDown */

#Countdown {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.countdown-title {
    margin-top: 50px;
    font-size: 2rem;
    font-family: var(--font-family);
    font-weight: 500;
    letter-spacing: 7px;
    text-align: center;
}

.timer-container {
    padding-top: 50px;
    width: 100%;
    height: 300px;
    margin-top: 110px;
    display: flex;
    justify-content: center;
}

.timer-card {
    width: 140px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: 10px;
}

.timer-card-container {
    position: relative;
    box-shadow: 5px 10px var(--very-dark-blue);
    border-radius: var(--border-card-radius);
}

.timer-card-flip {
    width: 140px;
    height: 70px;
    border-radius: var(--border-card-radius);
    background: var(--dark-desaturated_blue);
}

.top-card {
    position: relative;
    border-bottom: 1px solid var(--very-darker-blue);
    opacity: 0.6;
    z-index: 10;
}

.timer-card-number {
    width: 100%;
    position: absolute;
    top: 14%;
    text-align: center;
    font-size: 4.7rem;
    font-weight: 700;
    color: var(--soft-red);
}

.timer-card-text {
    font-size: 1rem;
    color: var(--grayish-blue);
    font-weight: 500;
    margin-top: 20px;
}


/* Footer */

footer {
    width: 100vw;
    height: 197px;
    position: absolute;
    bottom: 0;
}

.footer-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.social-container {
    width: 100%;
    position: absolute;
    top: 50%;
}

.social-container-space {
    width: 15%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 375px) {
    /* CountDown */
    #Countdown {
        width: 100%;
        height: 100vh;
    }
    .countdown-title {
        padding-inline: 20px;
        font-size: 1.6rem;
    }
    .timer-container {
        display: flex;
        padding-top: 0px;
    }
    .timer-card {
        width: 70px;
        height: 35px;
        margin-inline: 10px;
    }
    .timer-card-flip {
        width: 70px;
        height: 35px;
    }
    .timer-card-number {
        top: 10%;
        font-size: 2.5rem;
    }
    .timer-card-text {
        font-size: 0.6rem;
    }
    /* Footer */
    .social-container-space {
        width: 35%;
    }
}